@namespace HTT.BlazorWasm.App.Components
@inherits HTTComponentBase

<div id="@Id" 
     role="@Role" 
     class="@CssClass" 
     style="@CssStyle"
     data-theme="@EffectiveTheme">
    @ChildContent
</div>
