@inherits HTTComponentBase
@namespace HTT.BlazorWasm.App.Components

<div class="htt-lang-selector">
    <HTTSelect TItem="CultureEntry" TValue="string" Items="L.AllCultureEntries" Value="@GetCurrentCountryCode()"
               ValueChanged="OnLanguageChanged" TextSelector="@(e => L.GetString(e.DisplayName))"
               ValueSelector="@(e => e.CountryCode.ToString())" ShowArrow="false" AllowClear="false" Searchable="true"
               DisabledSelector="@(e => string.IsNullOrEmpty(e.CultureCode))" Class="lang-select-topbar">
        <SelectedTemplate Context="item">
            <HTTToolTip Position="CPositionType.Top" Text="@GetTooltipText()">
                <div class="lang-trigger-content">
                    <i class="@item.Icon"></i>
                </div>
            </HTTToolTip>
        </SelectedTemplate>
        <ItemTemplate Context="item">
            <div class="lang-item-content">
                <i class="@item.Icon"></i>
                <span class="lang-name">@L.GetString(item.DisplayName)</span>
            </div>
        </ItemTemplate>
    </HTTSelect>
</div>
